.file_input { 
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.file_input input { 
    display: none; 
}

.file_input_content {
    text-align: center;
}

.avatar_container {
    margin-bottom: 10px;
}

.avatar_container img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    vertical-align: bottom;
}

.image_preview {
    margin-bottom: 10px;
}

.image_preview img {
    width: 100px;
    height: 100px;
    vertical-align: bottom;
}

.upload_button {
    background-color: #FFAAA5;
    border-radius: 5px;
    color: white;
    padding: 5px 20px;
}