.add_edit_passenger {
    height: 100%;
    width: 80%;
    margin: auto;
    max-height: 800px;
}

.add_edit_passenger h2 {
    width: 400px;
    margin: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
    color: rgba(0, 0, 0, 0.53);
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
}

.passenger_form {
    padding: 10px 20px;
}

.passenger_form h3 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #2E5077;
    margin-bottom: 5px;
}
.passenger_form_group {
    padding: 20px 20px 10px 20px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    margin-bottom: 20px;
}

.photo_input {
    width: 200px;
    height: 150px;
    background-color: #FBFBFB;
    border: 1px solid #A8DDE6;
    border-style: dashed;
    border-radius: 4px;
    margin: 0px auto 20px auto;
}

.flex_input,
.flex_dropdown_input {
    display: flex;
    gap: 20px;
}

.flex_dropdown_input {
    margin-bottom: 20px;
}

.datepicker {
    width: 100%;
}

.datepicker label {
    display: block;
    margin-bottom: 5px;
    color: rgba(0, 0, 0, 0.53);
    font-size: 1rem;
    font-weight: bold;
}

.flight_list {
    margin: 20px 0px;
    padding: 10px 20px;
    border: 1px solid #4c357568;
    border-radius: 5px;
}

.flight_table {
    width: 90%;
    margin: auto;
    overflow: auto;   
    background-color: rgba(221, 221, 221, 0.062);
    border-collapse: collapse;
}

.flight_table td {
    position: relative;
    text-align: center;
    padding: 7px 0px;
    font-size: 0.8rem;
}

.flight_table thead tr { border-bottom: 1px solid rgba(0, 0, 0, 0.096); }
.flight_table thead tr th { padding-bottom: 3px; }

.flight_add_button {
    margin: 0px 0px 20px 0px;
    text-align: center;
}

.flight_add_button button {
    background-color: #4C3575;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    padding: 5px 30px;
}

button.remove_schedule {
    background: none;
}

.save_btn_container {
    text-align: center;
    margin-top: 20px;
}

@media(max-width: 800px) {
    .add_edit_passenger {
        width: 100%;
    }
    .flex_input {
        flex-direction: column;
    }
}