@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100vh;
}

#root {
  height: 100vh;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-size: 0.9rem;
}

.react-datepicker-wrapper {
  width: 100%;
  display: inline-block;
  margin-bottom: 20px;
}

.react-datepicker__input-container {
  width: 100%;
}

.react-datepicker__input-container input {
  width: 100%;
  padding: 4px 10px;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  outline: none;
}

.react-datepicker__input-container input:focus {
  margin-right: 0px;
}