.profile_content {
    background-color: antiquewhite;
    height: 250px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.placeholder_cover_photo {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.placeholder_cover_photo img {
    width: 100%;
    height: 100%;
}

.user_info {
    min-height: 200px;
    background-color: #2e5077ab;
    padding: 20px;
}

.user_info p {
    font-size: 1rem;
    color: white;
    margin-bottom: 5px;
}
.action_buttons {
    margin-top: 30px;
    display: flex;
    gap: 20px;
}

.photo_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    position: absolute;
    bottom: -75px;
    left: 8%;
}
.photo {
    width: 150px;
    height: 150px;
}

.user_name {
    margin-top: 50px;
}

.user_name p {
    font-size: 1.7rem;
}

.photo_container img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
